data/raw/
data/processed/

.cache/
models/
*.bin
*.safetensors
*.gguf

#
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/
wikipilot/   # project venv
*.egg

qdrant_storage/

.env
.env.*

notebooks/.ipynb_checkpoints/

vs_buildtools.exe

.huggingface/

# OS
.DS_Store
Thumbs.db
